In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('Data_Caso_Propuesto.csv')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Codigo                  463 non-null    int64
 1   Ciudad                  463 non-null    object
 2   Departamento            463 non-null    object
 3   Barrio                  40 non-null     object
 4   Direccion               463 non-null    object
 5   Area Terreno            463 non-null    float64
 6   Area Construida         463 non-null    float64
 7   Detalle Disponibilidad  463 non-null    object
 8   Estrato                 463 non-null    object
 9   Precio                  463 non-null    float64
 10  Tipo de Inmueble        463 non-null    object
 11  Datos Adicionales       118 non-null    object
dtypes: float64(3), int64(1), object(8)
memory usage: 43.5+ KB

In [17]:
df.isnull().sum()

Codigo                      0
Ciudad                      0
Departamento                0
Barrio                    423
Direccion                   0
Area Terreno                0
Area Construida             0
Detalle Disponibilidad      0
Estrato                     0
Precio                      0
Tipo de Inmueble            0
Datos Adicionales         345
dtype: int64

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 463 entries, 0 to 462
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Codigo                  463 non-null    int64
 1   Ciudad                  463 non-null    object
 2   Departamento            463 non-null    object
 3   Barrio                  40 non-null     object
 4   Direccion               463 non-null    object
 5   Area Terreno            463 non-null    float64
 6   Area Construida         463 non-null    float64
 7   Detalle Disponibilidad  463 non-null    object
 8   Estrato                 463 non-null    object
 9   Precio                  463 non-null    float64
 10  Tipo de Inmueble        463 non-null    object
 11  Datos Adicionales       118 non-null    object
dtypes: float64(3), int64(1), object(8)
memory usage: 43.5+ KB

In [20]:
df=df.dropna()

In [21]:
df=df.drop_duplicates()

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 3 to 462
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Codigo                  23 non-null     int64
 1   Ciudad                  23 non-null     object
 2   Departamento            23 non-null     object
 3   Barrio                  23 non-null     object
 4   Direccion               23 non-null     object
 5   Area Terreno            23 non-null     float64
 6   Area Construida         23 non-null     float64
 7   Detalle Disponibilidad  23 non-null     object
 8   Estrato                 23 non-null     object
 9   Precio                  23 non-null     float64
 10  Tipo de Inmueble        23 non-null     object
 11  Datos Adicionales       23 non-null     object
dtypes: float64(3), int64(1), object(8)
memory usage: 2.3+ KB

In [27]:
df.describe()

             Codigo  Area Terreno  Area Construida        Precio
count     23.000000  2.300000e+01        23.000000  2.300000e+01
mean   12634.260870  1.622327e+05       492.776522  1.770347e+09
std     3247.318491  4.558649e+05      1537.481264  2.936256e+09
min     2575.000000  0.000000e+00         0.000000  1.534802e+07
25%    12113.500000  0.000000e+00         0.000000  3.938667e+07
50%    12119.000000  3.073000e+03         0.000000  8.375908e+08
75%    12708.500000  1.206272e+05        45.735000  2.322155e+09
max    18959.000000  2.187863e+06      7269.000000  1.376828e+10

In [28]:
precio=df.sort_values('Precio')
precio.head(5)

,Codigo,Ciudad,Departamento,Barrio,Direccion,Area Terreno,Area Construida,Detalle Disponibilidad,Estrato,Precio,Tipo de Inmueble,Datos Adicionales
236,18871,SANTANDER DE QUILICHAO,CAUCA,VILLA DEL SUR,CL 9 AS # 10-49 LT 14 MZ G BARRIO VILLA DEL S...,0.0,0.0,COMERCIALIZABLE CON RESTRICCION,UNO,15348020.00,LOTE CON CONSTRUCCION,LOTE DE TERRENO CON CONSTRUCCION\n\nEL VALOR D...
462,12707,CALI,VALLE DEL CAUCA,PRADOS DEL NORTE,CL 30N # 2B-38 LOCAL 370 CENTRO COMERCIAL SAN...,0.0,0.0,COMERCIALIZABLE CON RESTRICCION,CUATRO,20608003.68,LOCAL,¡OPORTUNIDAD PARA INVERTIR! LOCAL EN PROINDIVI...
461,12706,CALI,VALLE DEL CAUCA,PRADOS DEL NORTE,CL 30N # 2B-38 LOCAL 367 CENTRO COMERCIAL SAN...,0.0,0.0,COMERCIALIZABLE CON RESTRICCION,CUATRO,20608003.68,LOCAL,¡OPORTUNIDAD PARA INVERTIR! LOCAL EN PROINDIVI...
460,12708,CALI,VALLE DEL CAUCA,PRADOS DEL NORTE,CL 30N # 2B-38 LOCAL 564 CENTRO COMERCIAL SAN...,0.0,0.0,COMERCIALIZABLE CON RESTRICCION,CUATRO,20701337.03,LOCAL,¡OPORTUNIDAD PARA INVERTIR! LOCAL EN PROINDIVI...
124,12732,CALI,VALLE DEL CAUCA,VEREDA EL SALADITO,LOTE 9C DIVISION REALIZADA A LA ANTIGUA HACIEN...,0.0,0.0,COMERCIALIZABLE,RURAL,29407403.52,LOTE MIXTO,INVIERTA EN ESTE TERRENO CAMPESTRE EN UNA ZONA...

In [29]:
precio=df.sort_values('Precio',ascending=False)
precio.head(5)

,Codigo,Ciudad,Departamento,Barrio,Direccion,Area Terreno,Area Construida,Detalle Disponibilidad,Estrato,Precio,Tipo de Inmueble,Datos Adicionales
3,2575,SOGAMOSO,BOYACÁ,CENTRO,CRA. 10 #11- 78/80 Ó CL 12 # 9 - 77/85 Ó CALLE...,1655.08,7269.00,COMERCIALIZABLE CON RESTRICCION,CUATRO,1.376828e+10,CLINICA,ESTE INMUEBLE SE COMERCIALIZARÁ A TRAVÉS DE SU...
37,12120,CALIMA EL DARIEN,VALLE DEL CAUCA,VEREDA PALERMO,LT 2,337995.00,0.00,COMERCIALIZABLE FIDUCIA,RURAL,5.171324e+09,LOTE VIVIENDA,"EXCELENTE LOTE CON VISTA AL LAGO CALIMA, UBICA..."
49,12117,CALIMA EL DARIEN,VALLE DEL CAUCA,VEREDA PALERMO,LT 3B2,134000.00,763.06,COMERCIALIZABLE FIDUCIA,RURAL,3.027405e+09,LOTE VIVIENDA,CISA VENDE DERECHOS FIDUCIARIOS DEL 9.48%\n\nF...
54,12114,CALIMA EL DARIEN,VALLE DEL CAUCA,VEREDA PALERMO,LT 1B,175982.00,0.00,COMERCIALIZABLE FIDUCIA,RURAL,2.704525e+09,LOTE VIVIENDA,CISA VENDE DERECHOS FIDUCIARIOS DEL 9.48%\n\nF...
55,12113,CALIMA EL DARIEN,VALLE DEL CAUCA,VEREDA PALERMO,LT 4,71143.00,745.33,COMERCIALIZABLE FIDUCIA,RURAL,2.700092e+09,LOTE VIVIENDA,CISA VENDE DERECHOS FIDUCIARIOS DEL 9.48%\n\nF...

In [34]:
rangos=[10000000,200000000,500000000,1000000000,20000000000]

In [36]:
nombreRango=["A","B","C","D"]

In [37]:
df['Rango_Precio']=pd.cut(df['Precio'],rangos,labels=nombreRango)

In [38]:
df.head()

,Codigo,Ciudad,Departamento,Barrio,Direccion,Area Terreno,Area Construida,Detalle Disponibilidad,Estrato,Precio,Tipo de Inmueble,Datos Adicionales,Rango_Precio
3,2575,SOGAMOSO,BOYACÁ,CENTRO,CRA. 10 #11- 78/80 Ó CL 12 # 9 - 77/85 Ó CALLE...,1655.08,7269.00,COMERCIALIZABLE CON RESTRICCION,CUATRO,1.376828e+10,CLINICA,ESTE INMUEBLE SE COMERCIALIZARÁ A TRAVÉS DE SU...,D
37,12120,CALIMA EL DARIEN,VALLE DEL CAUCA,VEREDA PALERMO,LT 2,337995.00,0.00,COMERCIALIZABLE FIDUCIA,RURAL,5.171324e+09,LOTE VIVIENDA,"EXCELENTE LOTE CON VISTA AL LAGO CALIMA, UBICA...",D
43,10106,BARRANQUILLA,ATLÁNTICO,CENTRO,CALLE 39 NO 43 58 62 LC 1,0.00,0.00,COMERCIALIZABLE CON RESTRICCION,DOS,7.303790e+08,LOCAL,DESEAS INVERTIR ESTA ES LA OPORTUNIDAD LOCAL E...,C
49,12117,CALIMA EL DARIEN,VALLE DEL CAUCA,VEREDA PALERMO,LT 3B2,134000.00,763.06,COMERCIALIZABLE FIDUCIA,RURAL,3.027405e+09,LOTE VIVIENDA,CISA VENDE DERECHOS FIDUCIARIOS DEL 9.48%\n\nF...,D
54,12114,CALIMA EL DARIEN,VALLE DEL CAUCA,VEREDA PALERMO,LT 1B,175982.00,0.00,COMERCIALIZABLE FIDUCIA,RURAL,2.704525e+09,LOTE VIVIENDA,CISA VENDE DERECHOS FIDUCIARIOS DEL 9.48%\n\nF...,D